<nav>
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/produits">Produits</a>
  <a routerLink="/requests">Requests</a>
  <a routerLink="/users">Users</a>
  <a routerLink="/admins">Admins</a>
  <a routerLink="/login">Login</a>
  <div class="logo-container">
  <div class="atom-logo">
    <div class="nucleus"></div>
    <div class="orbit"><div class="electron"></div></div>
    <div class="orbit"><div class="electron"></div></div>
    <div class="orbit"><div class="electron"></div></div>
  </div>
</div>
</nav>
